.App {
 
  margin: 10vh auto;
  border: solid 1px #444;
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.inputWrap
{
  padding-bottom: 10px;
}

form > button
{
  background-color: rgb(117, 71, 223);
  border-radius: 5px;
color: #fff;
height: 30px;
width: 100%;

}

form  input
{
  width: 100%;
  box-sizing: border-box;
  height: 30px;
}

form input[type="checkbox"]
{ 
  width:15px;
}


